@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


#root {
  text-align: center;
}
body {
  overflow-y: scroll;
  overflow-x: hidden;
}

li {
  list-style: none;
}

.main-logo {
  padding:30px;
}
.main-logo img {
  object-fit:scale-down;
  width: 50%;
  height: auto;
}

.release-date {
  font-family: Roboto;
  font-size: 10px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 1.5px;
  color: #8E8E93;
  text-transform: uppercase;


}

.header {
  display: flex;
  justify-content: space-around;
  box-shadow: -2px 0px 8px 2px #0000001a;
  align-items: center;
  height: 60px;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.04px;
  width: 100vw;
  margin: auto;
}
.header ul {
  float: left;
  display: flex;
  gap: 30px;
  list-style: none;
}

.search-input {
  display: grid;
  grid-template-columns: repeat(4, 25vw);
  
}
.location-container {
  padding: 20px;
}


.location-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px 0;
}


.location-card h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}



.no-data {
  text-align: center;
}
.no-data img {
  width: 150%;
}

.filters {
  display: grid;
  grid-template-columns: repeat(4, 15vw);
  column-gap:10px;
  width: fit-content;
  margin: 0 auto;
  
}
.filters select {
  padding: 15px;
  border-Radius: 5px;
  border: 1px solid #00000080;
}
.filters input {
  border-Radius: 5px;
  border: 1px solid #00000080;
  padding: 15px;
}


.location-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd; 
  padding: 10px;
  border-radius: 5px;
  background-color: #fff; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  text-align: center; 
  justify-content: center;
  height: 150px;
}

.location-card p {
  margin: 5px 0; 
}


.episode-container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.episode-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  align-items: center;
}


.episode-card {
  background: #ffffff;
  padding: 33px;
  border-radius: 4px;
  box-shadow: 0px 2px 4px 0px #00000024;
  box-shadow: 0px 3px 4px 0px #0000001F;
  box-shadow: 0px 1px 5px 0px #00000033;  
  text-align: center;
  max-height: 160px;
}

.char-info-left div {
  width: 300px;
  border-bottom: 1px solid #21212114;
}

.char-info-right  {
  display: grid;
  margin-bottom: 43px;
  width: 300px;
}
.location {
  position: relative;
}

.arrow-image img {
  position: absolute;
  left: 95%;
  bottom: 50%;
}
.episode {
  position: relative;
}

.arrow-image2 img {
  position: absolute;
  left: 95%;
  bottom: 45%;
}
.char-info-right div {
  border-bottom: 1px solid #21212114;
}
.char-info h3 {
  line-height: 5px;
}
.char-info-right p {
  line-height: 10px;
}

.char-info-right::-webkit-scrollbar{
 display: none;
}

.characters {
  display: grid;
  grid-template-columns: repeat(4, 15vw);
  text-align: left;
  line-height: 15px;
}

.character img {
  border-radius: 50%
}

.charpage {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .14), 0 3px 4px 0 rgba(0, 0, 0, .12), 0 1px 5px 0 rgba(0, 0, 0, .2);
  width: auto;
  margin: 10px;
  border-radius: 5px;
}
.charpage img {
  border-radius: 5px 5px 0px 0px;
}

.char-info {
  align-items: center;
  justify-content: center;
  display: flex; 
  text-align: left;
  gap: 155px;
}

.charpage img {
  width: 100%;
}

.charpage p{
  padding-left: 15px;
}
.charpage h3 {
  padding-left: 15px;
}
.input-filter {
  margin-bottom: 20px;
  padding: 15px;
  width: 30%;
  border-Radius: 5px;
  border: 1px solid #00000080;
}
